<article class="editable {{ classes|default('') }}" data-slug="{{ article.slug }}">
	{{ content|raw }}
</article>
<div id="{{ article.slug }}_tags" class="articles_tags">
	<input type="text" data-slug="{{ article.slug }}" data-origin="{{ article.tags|join(',') }}" name="{{ article.id }}_tags" id="{{ article.slug }}_tags" class="editTagsForm" style="width:200px;" value="{{ article.tags|join(',') }}">
	<input type="button" class="editTagsFormSave" value="{{ 'Save'|trans({}, 'ESArticle') }}" onclick="modifyTags('{{ article.slug }}')" style="display:none;width:65px;margin:5px 0;color:black;"/>
</div>