{% if is_granted(authorized_role) %}
    {% if jQuery == true %}
        <script src="{{ asset("bundles/jmstranslation/js/jquery.min.js") }}"></script>
    {% endif %}

    {% if tinyMCE == true %}
        <script src="{{ asset('bundles/jmstranslation/js/tinymce/tinymce.min.js') }}"></script>
        <script src="{{ asset('bundles/jmstranslation/js/tinymce/jquery.tinymce.min.js') }}"></script>
    {% endif %} 

    <script language="javascript" type="text/javascript">
        var updateContentPath = {{ path("elsassseeraiwer_esarticle_articledb_modifycontent", {'slug': 'SLUG'})|json_encode|raw }};

        $(document).ready(function() {
            articleEditionStatus = window.localStorage.getItem('articleEditionStatus');
            console.log(articleEditionStatus);
            if(articleEditionStatus == 1)
            {
                $('#articleEditionImgGrey').hide();
                $('#articleEditionImgGreen').show();

                tinymce.init({
                    selector: "article.editable",
                    inline: true,
                    content_css: "{{ tinymce.content_css|join(', ') }}",
                    theme : 'modern',
                    //keep_styles: true,
                    plugins: "{{ tinymce.plugin }}",
                    toolbar1: "{{ tinymce.toolbar1 }}",
                    toolbar2: "{{ tinymce.toolbar2 }}",
                    contextmenu: "{{ tinymce.contextmenu }}",
                    tools: "{{ tinymce.tools }}",
                    nonbreaking_force_tab: {{ tinymce.nonbreaking_force_tab }},
                    save_enablewhendirty: {{ tinymce.save_enablewhendirty }},
                    save_onsavecallback: function() {
                        tinymce.triggerSave();
                        var path = updateContentPath.replace('SLUG',$('#'+this.id).data('slug'));

                        $.ajax(path, {
                            type: 'POST',
                            data: {'content': $('#'+this.id).html(), 'locale': '{{ app.request.locale }}'},
                            error: function() {
                                $(self).parent().prepend('<div class="alert-message error">Translation could not be saved</div>');
                            },
                            success: function() {
                                $(self).parent().prepend('<div class="alert-message success">Translation was saved.</div>');
                            },
                            complete: function() {
                                //window.location.reload()
                            }
                        });
                    }
        {% if tinymce.style_formats != '' %},style_formats : {{ tinymce.style_formats|raw }}{% endif %}
                });
            }
            else if(articleEditionStatus == null)
            {
                window.localStorage.setItem('articleEditionStatus', 0);
            }
        });
    </script>
{% endif %}