{% extends "ElsassSeeraiwerESArticleBundle::base.html.twig" %}

{% block body %}
	<h1>{{ 'article.liste.h1'|trans({}, 'ESArticle') }}</h1>

	{{ render(controller('ElsassSeeraiwerESArticleBundle:ArticleDB:add')) }}

	<h2>{{ 'article.liste.h2'|trans({}, 'ESArticle') }}</h2>

	<table style="margin-top: 15px;">
        <thead>
            <tr>
                <th width="35%">
                    <div style="display:block;cursor:pointer;" onclick="sortTable('title');">
                        {{ 'article.liste.title'|trans({}, 'ESArticle') }}
                        <img width="12" height="12" title="DESC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDMZSs1IwQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAlSURBVHjaYxAEAwYwKcQABSCOAIRSYEAShFBwZSCeAIRSQBIDAHnLAj81ZwHgAAAAAElFTkSuQmCC" class="sortImg DESC title" style="float:right;display:none;" />
                        <img width="12" height="12" title="ASC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDQKgTKf2AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAmSURBVHjaY2CAAEEFCCXAgAQEBYUglCCKoCBIMYgSQBEEKgZTggBGHQI/pr6SWAAAAABJRU5ErkJggg==" class="sortImg ASC title" style="float:right;display:none;" />
                    </div>
                </th>
                <th width="20%">
                    <div style="display:block;cursor:pointer;" onclick="sortTable('tags');">
                        {{ 'article.liste.tags'|trans({}, 'ESArticle') }}
                        <img width="12" height="12" title="DESC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDMZSs1IwQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAlSURBVHjaYxAEAwYwKcQABSCOAIRSYEAShFBwZSCeAIRSQBIDAHnLAj81ZwHgAAAAAElFTkSuQmCC" class="sortImg DESC tags" style="float:right;display:none;" />
                        <img width="12" height="12" title="ASC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDQKgTKf2AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAmSURBVHjaY2CAAEEFCCXAgAQEBYUglCCKoCBIMYgSQBEEKgZTggBGHQI/pr6SWAAAAABJRU5ErkJggg==" class="sortImg ASC tags" style="float:right;display:none;" />
                    </div>
                </th>
                <th width="15%">
                    <div style="display:block;cursor:pointer;" onclick="sortTable('status');">
                        {{ 'article.liste.status'|trans({}, 'ESArticle') }}
                        <img width="12" height="12" title="DESC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDMZSs1IwQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAlSURBVHjaYxAEAwYwKcQABSCOAIRSYEAShFBwZSCeAIRSQBIDAHnLAj81ZwHgAAAAAElFTkSuQmCC" class="sortImg DESC status" style="float:right;display:none;" />
                        <img width="12" height="12" title="ASC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDQKgTKf2AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAmSURBVHjaY2CAAEEFCCXAgAQEBYUglCCKoCBIMYgSQBEEKgZTggBGHQI/pr6SWAAAAABJRU5ErkJggg==" class="sortImg ASC status" style="float:right;display:none;" />
                    </div>
                </th>
                <th width="10%">
                    <div style="display:block;cursor:pointer;" onclick="sortTable('modifyDate');">
                        {{ 'article.liste.majdate'|trans({}, 'ESArticle') }}
                        <img width="12" height="12" title="DESC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDMZSs1IwQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAlSURBVHjaYxAEAwYwKcQABSCOAIRSYEAShFBwZSCeAIRSQBIDAHnLAj81ZwHgAAAAAElFTkSuQmCC" class="sortImg DESC modifyDate" style="float:right;display:none;" />
                        <img width="12" height="12" title="ASC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDQKgTKf2AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAmSURBVHjaY2CAAEEFCCXAgAQEBYUglCCKoCBIMYgSQBEEKgZTggBGHQI/pr6SWAAAAABJRU5ErkJggg==" class="sortImg ASC modifyDate" style="float:right;display:none;" />
                    </div>
                </th>
                <th width="10%">
                    <div style="display:block;cursor:pointer;" onclick="sortTable('createDate');">
                        {{ 'article.liste.creadate'|trans({}, 'ESArticle') }}
                        <img width="12" height="12" title="DESC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDMZSs1IwQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAlSURBVHjaYxAEAwYwKcQABSCOAIRSYEAShFBwZSCeAIRSQBIDAHnLAj81ZwHgAAAAAElFTkSuQmCC" class="sortImg DESC createDate" style="float:right;display:none;" />
                        <img width="12" height="12" title="ASC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDQKgTKf2AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAmSURBVHjaY2CAAEEFCCXAgAQEBYUglCCKoCBIMYgSQBEEKgZTggBGHQI/pr6SWAAAAABJRU5ErkJggg==" class="sortImg ASC createDate" style="float:right;display:none;" />
                    </div>
                </th>
                <th width="10%">{{ 'article.liste.actions'|trans({}, 'ESArticle') }}</th>
            </tr>
        </thead>
        <tbody>
        	{% for article in articles %}
        	<tr>
                <td>
                    <input data-slug="{{ article.slug }}" data-origin="{{ article.title }}" style="width:95%;" type="text" value="{{ article.title }}" name="{{ article.id }}_title" id="{{ article.slug }}_title" class="editTitleForm"/>
                </td>
                <td>
                    <input type="text" data-slug="{{ article.slug }}" data-origin="{{ article.tags|join(',') }}" name="{{ article.id }}_tags" id="{{ article.slug }}_tags" class="editTagsForm" style="width:200px;" value="{{ article.tags|join(',') }}">
                    <input type="button" value="{{ 'Save'|trans({}, 'ESArticle') }}" onclick="modifyTags('{{ article.slug }}')" style="width:65px;margin:5px 0;color:black;"/>
                </td>
                <td>
                    <input type="button" value="{{ 'draft'|trans({}, 'ESArticle') }}" onclick="modifyStatus('{{ article.slug }}', 'draft')" 
                        style="width:65px;margin-bottom:5px;color:black;{% if article.status == 'draft' %}background-color:red{% endif %}"/>
                    <input type="button" value="{{ 'proposed'|trans({}, 'ESArticle') }}" onclick="modifyStatus('{{ article.slug }}', 'proposed')" 
                        style="width:65px;margin-bottom:5px;color:black;{% if article.status == 'proposed' %}background-color:orange{% endif %}"/>
                    <input type="button" value="{{ 'published'|trans({}, 'ESArticle') }}" onclick="modifyStatus('{{ article.slug }}', 'published')" 
                        style="width:65px;margin-bottom:5px;color:black;{% if article.status == 'published' %}background-color:green{% endif %}"/>
                    {#{ article.status|trans({}, 'ESArticle') }#}
                </td>
                <td>{{ article.modifyDate|date("d-m-Y H:i") }}</td>
                <td>{{ article.createDate|date("d-m-Y H:i") }}</td>
                <td>
                    <input type="button" value="{{ 'view.edit'|trans({}, 'ESArticle') }}" onclick="goToEditPage('{{ article.slug }}')" style="padding:4px 8px;color:black;"/>
                </td>
            </tr>
        	{% endfor %}
        </tbody>
	</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link href="{{ asset('bundles/elsassseeraiweresarticle/js/select2-3.4.1/select2.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/elsassseeraiweresarticle/js/select2-3.4.1/select2.min.js') }}"></script>
    <script>
        var currentField = '{{ field }}';
        var currentWay = '{{ way }}';
        var listOrderedPath = {{ path("elsassseeraiwer_esarticle_articledb_list_ordered", {"field": field, "way": way})|json_encode|raw }};
        var modifyStatusPath = {{ path("elsassseeraiwer_esarticle_articledb_modifystatus", {"slug": 'SLUG'})|json_encode|raw }};
        var modifyTagsPath = {{ path("elsassseeraiwer_esarticle_articledb_modifytags", {"slug": 'SLUG'})|json_encode|raw }};
        var modifyTitlePath = {{ path("elsassseeraiwer_esarticle_articledb_modifytitle", {"slug": 'SLUG'})|json_encode|raw }};
        var viewEditPath = {{ path('elsassseeraiwer_esarticle_articledb_get', {'slug': 'SLUG'})|json_encode|raw }};

        function goToEditPage(slug)
        {
            var path = viewEditPath.replace('SLUG',slug);

            window.location.assign(path);
        }

        function modifyTags(slug)
        {
            var tags = $('#'+slug+'_tags').select2("val");
            var path = modifyTagsPath.replace('SLUG',slug);

            $.ajax(path, {
                type: 'POST',
                data: {'tags': tags},
                complete: function() {
                    //window.location.reload();
                }
            });
        }

        function modifyStatus(slug, status)
        {
            var path = modifyStatusPath.replace('SLUG',slug);

            $.ajax(path, {
                type: 'POST',
                data: {'status': status},
                complete: function() {
                    window.location.reload();
                }
            });
        }

        function sortTable(selectedField)
        {

            $('img.sortImg').hide()
            if(currentField == selectedField)
            {
                if(currentWay == 'ASC')
                {
                    listOrderedPath = listOrderedPath.replace(currentWay,'DESC');
                    currentWay = 'DESC';
                }
                else 
                {
                    listOrderedPath = listOrderedPath.replace(currentWay,'ASC');
                    currentWay = 'ASC';
                }
            }
            else
            {
                listOrderedPath = listOrderedPath.replace(currentField,selectedField);
                currentField = selectedField;
                listOrderedPath = listOrderedPath.replace(currentWay,'ASC');
                currentWay = 'ASC';
            }

            $('img.sortImg.'+currentWay+'.'+currentField).show();


            
            window.location.assign(listOrderedPath);
        }

        $(document).ready(function() {
            $('img.sortImg.'+currentWay+'.'+currentField).show();

            $(".editTagsForm").select2({tags:[]});

            $('input.editTitleForm')
                .blur(function() {
                    var self = this;
                    var newtitle = $(self).val();
                    var slug = $(this).data('slug');
                    var origin = $(this).data('origin');
                    var path = modifyTitlePath.replace('SLUG',slug);

                    if(origin == newtitle)return false;

                    $(this).data('origin', newtitle);

                    $.ajax(path, {
                        type: 'POST',
                        data: {'title': newtitle},
                        error: function() {
                            $(self).parent().prepend('<div class="alert-message error">Title could not be saved</div>');
                        },
                        success: function() {
                            window.location.reload();
                        }
                    });
                })
                .focus(function() {
                    this.select();
                    
                    var timeoutId = $(this).data('timeoutId');
                    if (timeoutId) {
                        clearTimeout(timeoutId);
                        $(this).data('timeoutId', undefined);
                    }
                    
                    $(this).parent().children('.alert-message').remove();
                })
        });
    </script>
{% endblock %}