{% extends "ElsassSeeraiwerESArticleBundle::base.html.twig" %}

{% block body %}
	<h1>{{ 'article.liste.h1'|trans({}, 'ESArticle') }}</h1>

	{{ render(controller('ElsassSeeraiwerESArticleBundle:ArticleDB:add')) }}

	<h2>{{ 'article.liste.h2'|trans({}, 'ESArticle') }}</h2>

	<table style="margin-top: 15px;">
        <thead>
            <tr>
                <th width="55%">
                    <div style="display:block;cursor:pointer;" onclick="sortTable('title');">
                        {{ 'article.liste.title'|trans({}, 'ESArticle') }}
                        <img width="12" height="12" title="DESC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDMZSs1IwQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAlSURBVHjaYxAEAwYwKcQABSCOAIRSYEAShFBwZSCeAIRSQBIDAHnLAj81ZwHgAAAAAElFTkSuQmCC" class="sortImg DESC title" style="float:right;display:none;" />
                        <img width="12" height="12" title="ASC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDQKgTKf2AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAmSURBVHjaY2CAAEEFCCXAgAQEBYUglCCKoCBIMYgSQBEEKgZTggBGHQI/pr6SWAAAAABJRU5ErkJggg==" class="sortImg ASC title" style="float:right;display:none;" /><br/><em>{{ 'article.liste.tags'|trans({}, 'ESArticle') }}</em>
                    </div>
                </th>
                <th width="15%">
                    <div style="display:block;cursor:pointer;" onclick="sortTable('status');">
                        {{ 'article.liste.status'|trans({}, 'ESArticle') }}
                        <img width="12" height="12" title="DESC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDMZSs1IwQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAlSURBVHjaYxAEAwYwKcQABSCOAIRSYEAShFBwZSCeAIRSQBIDAHnLAj81ZwHgAAAAAElFTkSuQmCC" class="sortImg DESC status" style="float:right;display:none;" />
                        <img width="12" height="12" title="ASC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDQKgTKf2AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAmSURBVHjaY2CAAEEFCCXAgAQEBYUglCCKoCBIMYgSQBEEKgZTggBGHQI/pr6SWAAAAABJRU5ErkJggg==" class="sortImg ASC status" style="float:right;display:none;" />
                    </div>
                </th>
                <th width="10%">
                    <div style="display:block;cursor:pointer;" onclick="sortTable('modifyDate');">
                        {{ 'article.liste.majdate'|trans({}, 'ESArticle') }}
                        <img width="12" height="12" title="DESC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDMZSs1IwQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAlSURBVHjaYxAEAwYwKcQABSCOAIRSYEAShFBwZSCeAIRSQBIDAHnLAj81ZwHgAAAAAElFTkSuQmCC" class="sortImg DESC modifyDate" style="float:right;display:none;" />
                        <img width="12" height="12" title="ASC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDQKgTKf2AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAmSURBVHjaY2CAAEEFCCXAgAQEBYUglCCKoCBIMYgSQBEEKgZTggBGHQI/pr6SWAAAAABJRU5ErkJggg==" class="sortImg ASC modifyDate" style="float:right;display:none;" />
                    </div>
                </th>
                <th width="10%">
                    <div style="display:block;cursor:pointer;" onclick="sortTable('createDate');">
                        {{ 'article.liste.creadate'|trans({}, 'ESArticle') }}
                        <img width="12" height="12" title="DESC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDMZSs1IwQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAlSURBVHjaYxAEAwYwKcQABSCOAIRSYEAShFBwZSCeAIRSQBIDAHnLAj81ZwHgAAAAAElFTkSuQmCC" class="sortImg DESC createDate" style="float:right;display:none;" />
                        <img width="12" height="12" title="ASC" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMBAMAAACkW0HUAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfTCw0ELQwmUHCFAAAAB3RJTUUH0wsNBDQKgTKf2AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAlQTFRF////AAAAxsbGBNRU4gAAAAF0Uk5TAEDm2GYAAAAmSURBVHjaY2CAAEEFCCXAgAQEBYUglCCKoCBIMYgSQBEEKgZTggBGHQI/pr6SWAAAAABJRU5ErkJggg==" class="sortImg ASC createDate" style="float:right;display:none;" />
                    </div>
                </th>
                <th width="10%">{{ 'article.liste.actions'|trans({}, 'ESArticle') }}</th>
            </tr>
        </thead>
        <tbody>
        	{% for article in articles %}
        	<tr>
                <td style="vertical-align: middle;">
                    <input data-slug="{{ article.slug }}" data-origin="{{ article.title }}" style="width:95%;margin:0 0 4px;" type="text" value="{{ article.title }}" name="{{ article.id }}_title" id="{{ article.slug }}_title" class="editTitleForm"/><br/>
                    <em>Tags : </em><input type="text" data-slug="{{ article.slug }}" data-origin="{{ article.tags|join(',') }}" name="{{ article.id }}_tags" id="{{ article.slug }}_tags" class="editTagsForm" style="width:70%;" value="{{ article.tags|join(',') }}">
                    <input class="btn btn-warning" type="button" value="{{ 'Save tags'|trans({}, 'ESArticle') }}" onclick="modifyTags('{{ article.slug }}')"/>
                </td>
                <td>
                    <input class="btn {% if article.status == 'draft' %}btn-danger{% endif %}" type="button" value="{{ 'draft'|trans({}, 'ESArticle') }}" onclick="modifyStatus('{{ article.slug }}', 'draft')" 
                        style="width:65px;padding: 5px 5px 6px;"/>
                    <input class="btn {% if article.status == 'proposed' %}btn-warning{% endif %}" type="button" value="{{ 'proposed'|trans({}, 'ESArticle') }}" onclick="modifyStatus('{{ article.slug }}', 'proposed')" 
                        style="width:65px;padding: 5px 5px 6px;"/>
                    <input class="btn {% if article.status == 'published' %}btn-success{% endif %}" type="button" value="{{ 'published'|trans({}, 'ESArticle') }}" onclick="modifyStatus('{{ article.slug }}', 'published')" 
                        style="width:65px;padding: 5px 5px 6px;"/>
                </td>
                <td>{{ article.modifyDate|date("d-m-Y H:i") }}</td>
                <td>{{ article.createDate|date("d-m-Y H:i") }}</td>
                <td>
                    <input class="btn btn-warning" type="button" value="{{ 'view.edit'|trans({}, 'ESArticle') }}" onclick="goToEditPage('{{ article.slug }}')" style="margin:2px 0;"/>
                    <input class="btn btn-danger" type="button" value="{{ 'view.delete'|trans({}, 'ESArticle') }}" onclick="deleteArticle('{{ article.slug }}')" style="margin:2px 0;"/>
                </td>
            </tr>
        	{% endfor %}
        </tbody>
	</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <link href="{{ asset('bundles/elsassseeraiweresarticle/js/select2-3.4.1/select2.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/elsassseeraiweresarticle/js/select2-3.4.1/select2.min.js') }}"></script>
    <script>
        var currentField = '{{ field }}';
        var currentWay = '{{ way }}';
        var listOrderedPath = {{ path("elsassseeraiwer_esarticle_articledb_list_ordered", {"field": field, "way": way})|json_encode|raw }};
        var modifyStatusPath = {{ path("elsassseeraiwer_esarticle_articledb_modifystatus", {"slug": 'SLUG'})|json_encode|raw }};
        var modifyTagsPath = {{ path("elsassseeraiwer_esarticle_articledb_modifytags", {"slug": 'SLUG'})|json_encode|raw }};
        var modifyTitlePath = {{ path("elsassseeraiwer_esarticle_articledb_modifytitle", {"slug": 'SLUG'})|json_encode|raw }};
        var viewEditPath = {{ path('elsassseeraiwer_esarticle_articledb_get', {'slug': 'SLUG'})|json_encode|raw }};
        var deleteArticlePath = {{ path("elsassseeraiwer_esarticle_articledb_remove", {"slug": 'SLUG'})|json_encode|raw }};

        function goToEditPage(slug)
        {
            var path = viewEditPath.replace('SLUG',slug);

            window.location.assign(path);
        }

        function deleteArticle(slug)
        {
            var path = deleteArticlePath.replace('SLUG',slug);

            $.ajax(path, {
                type: 'POST',
                complete: function() {
                    window.location.reload();
                }
            });
        }

        function modifyTags(slug)
        {
            var tags = $('#'+slug+'_tags').select2("val");
            var path = modifyTagsPath.replace('SLUG',slug);

            $.ajax(path, {
                type: 'POST',
                data: {'tags': tags},
                complete: function() {
                    //window.location.reload();
                }
            });
        }

        function modifyStatus(slug, status)
        {
            var path = modifyStatusPath.replace('SLUG',slug);

            $.ajax(path, {
                type: 'POST',
                data: {'status': status},
                complete: function() {
                    window.location.reload();
                }
            });
        }

        function sortTable(selectedField)
        {

            $('img.sortImg').hide()
            if(currentField == selectedField)
            {
                if(currentWay == 'ASC')
                {
                    listOrderedPath = listOrderedPath.replace(currentWay,'DESC');
                    currentWay = 'DESC';
                }
                else 
                {
                    listOrderedPath = listOrderedPath.replace(currentWay,'ASC');
                    currentWay = 'ASC';
                }
            }
            else
            {
                listOrderedPath = listOrderedPath.replace(currentField,selectedField);
                currentField = selectedField;
                listOrderedPath = listOrderedPath.replace(currentWay,'ASC');
                currentWay = 'ASC';
            }

            $('img.sortImg.'+currentWay+'.'+currentField).show();


            
            window.location.assign(listOrderedPath);
        }

        $(document).ready(function() {
            $('img.sortImg.'+currentWay+'.'+currentField).show();

            $(".editTagsForm").select2({tags:{{ taglist|json_encode|raw }} });

            $('input.editTitleForm')
                .blur(function() {
                    var self = this;
                    var newtitle = $(self).val();
                    var slug = $(this).data('slug');
                    var origin = $(this).data('origin');
                    var path = modifyTitlePath.replace('SLUG',slug);

                    if(origin == newtitle)return false;

                    $(this).data('origin', newtitle);

                    $.ajax(path, {
                        type: 'POST',
                        data: {'title': newtitle},
                        error: function() {
                            $(self).parent().prepend('<div class="alert-message error">Title could not be saved</div>');
                        },
                        success: function() {
                            window.location.reload();
                        }
                    });
                })
                .focus(function() {
                    this.select();
                    
                    var timeoutId = $(this).data('timeoutId');
                    if (timeoutId) {
                        clearTimeout(timeoutId);
                        $(this).data('timeoutId', undefined);
                    }
                    
                    $(this).parent().children('.alert-message').remove();
                })
        });
    </script>

    <style>
        .btn-primary.active,
        .btn-warning.active,
        .btn-danger.active,
        .btn-success.active,
        .btn-info.active,
        .btn-inverse.active {
          color: rgba(255, 255, 255, 0.75);
        }

        .btn-primary {
          color: #ffffff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          background-color: #006dcc;
          *background-color: #0044cc;
          background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
          background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
          background-image: -o-linear-gradient(top, #0088cc, #0044cc);
          background-image: linear-gradient(to bottom, #0088cc, #0044cc);
          background-repeat: repeat-x;
          border-color: #0044cc #0044cc #002a80;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active,
        .btn-primary.active,
        .btn-primary.disabled,
        .btn-primary[disabled] {
          color: #ffffff;
          background-color: #0044cc;
          *background-color: #003bb3;
        }

        .btn-primary:active,
        .btn-primary.active {
          background-color: #003399 \9;
        }

        .btn-warning {
          color: #ffffff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          background-color: #faa732;
          *background-color: #f89406;
          background-image: -moz-linear-gradient(top, #fbb450, #f89406);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
          background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
          background-image: -o-linear-gradient(top, #fbb450, #f89406);
          background-image: linear-gradient(to bottom, #fbb450, #f89406);
          background-repeat: repeat-x;
          border-color: #f89406 #f89406 #ad6704;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .btn-warning:hover,
        .btn-warning:focus,
        .btn-warning:active,
        .btn-warning.active,
        .btn-warning.disabled,
        .btn-warning[disabled] {
          color: #ffffff;
          background-color: #f89406;
          *background-color: #df8505;
        }

        .btn-warning:active,
        .btn-warning.active {
          background-color: #c67605 \9;
        }

        .btn-danger {
          color: #ffffff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          background-color: #da4f49;
          *background-color: #bd362f;
          background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
          background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
          background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
          background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
          background-repeat: repeat-x;
          border-color: #bd362f #bd362f #802420;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .btn-danger:hover,
        .btn-danger:focus,
        .btn-danger:active,
        .btn-danger.active,
        .btn-danger.disabled,
        .btn-danger[disabled] {
          color: #ffffff;
          background-color: #bd362f;
          *background-color: #a9302a;
        }

        .btn-danger:active,
        .btn-danger.active {
          background-color: #942a25 \9;
        }

        .btn-success {
          color: #ffffff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          background-color: #5bb75b;
          *background-color: #51a351;
          background-image: -moz-linear-gradient(top, #62c462, #51a351);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
          background-image: -webkit-linear-gradient(top, #62c462, #51a351);
          background-image: -o-linear-gradient(top, #62c462, #51a351);
          background-image: linear-gradient(to bottom, #62c462, #51a351);
          background-repeat: repeat-x;
          border-color: #51a351 #51a351 #387038;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .btn-success:hover,
        .btn-success:focus,
        .btn-success:active,
        .btn-success.active,
        .btn-success.disabled,
        .btn-success[disabled] {
          color: #ffffff;
          background-color: #51a351;
          *background-color: #499249;
        }

        .btn-success:active,
        .btn-success.active {
          background-color: #408140 \9;
        }

        .btn-info {
          color: #ffffff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          background-color: #49afcd;
          *background-color: #2f96b4;
          background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
          background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
          background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
          background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
          background-repeat: repeat-x;
          border-color: #2f96b4 #2f96b4 #1f6377;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .btn-info:hover,
        .btn-info:focus,
        .btn-info:active,
        .btn-info.active,
        .btn-info.disabled,
        .btn-info[disabled] {
          color: #ffffff;
          background-color: #2f96b4;
          *background-color: #2a85a0;
        }

        .btn-info:active,
        .btn-info.active {
          background-color: #24748c \9;
        }

        .btn-inverse {
          color: #ffffff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          background-color: #363636;
          *background-color: #222222;
          background-image: -moz-linear-gradient(top, #444444, #222222);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
          background-image: -webkit-linear-gradient(top, #444444, #222222);
          background-image: -o-linear-gradient(top, #444444, #222222);
          background-image: linear-gradient(to bottom, #444444, #222222);
          background-repeat: repeat-x;
          border-color: #222222 #222222 #000000;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        }

        .btn-inverse:hover,
        .btn-inverse:focus,
        .btn-inverse:active,
        .btn-inverse.active,
        .btn-inverse.disabled,
        .btn-inverse[disabled] {
          color: #ffffff;
          background-color: #222222;
          *background-color: #151515;
        }

        .btn-inverse:active,
        .btn-inverse.active {
          background-color: #080808 \9;
        }

        button.btn,
        input[type="submit"].btn {
          *padding-top: 3px;
          *padding-bottom: 3px;
        }

        button.btn::-moz-focus-inner,
        input[type="submit"].btn::-moz-focus-inner {
          padding: 0;
          border: 0;
        }

        button.btn.btn-large,
        input[type="submit"].btn.btn-large {
          *padding-top: 7px;
          *padding-bottom: 7px;
        }

        button.btn.btn-small,
        input[type="submit"].btn.btn-small {
          *padding-top: 3px;
          *padding-bottom: 3px;
        }

        button.btn.btn-mini,
        input[type="submit"].btn.btn-mini {
          *padding-top: 1px;
          *padding-bottom: 1px;
        }

        .btn-link,
        .btn-link:active,
        .btn-link[disabled] {
          background-color: transparent;
          background-image: none;
          -webkit-box-shadow: none;
             -moz-box-shadow: none;
                  box-shadow: none;
        }

        .btn-link {
          color: #0088cc;
          cursor: pointer;
          border-color: transparent;
          -webkit-border-radius: 0;
             -moz-border-radius: 0;
                  border-radius: 0;
        }

        .btn-link:hover,
        .btn-link:focus {
          color: #005580;
          text-decoration: underline;
          background-color: transparent;
        }

        .btn-link[disabled]:hover,
        .btn-link[disabled]:focus {
          color: #333333;
          text-decoration: none;
        }
    </style>
{% endblock %}