{% extends "ElsassSeeraiwerESArticleBundle::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/jmstranslation/js/jquery.min.js") }}"></script>
    <script src="{{ asset('bundles/jmstranslation/js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/jmstranslation/js/tinymce/jquery.tinymce.min.js') }}"></script>    
    <script language="javascript" type="text/javascript">   	
        var updateMessagePath = {{ path("jms_translation_update_message", {"config": selectedConfig, "domain": selectedDomain, "locale": app.request.locale})|json_encode|raw }};

    	tinymce.init({
		    selector: "article.editable",
		    inline: true,
            content_css: "{{ content_css|join(', ') }}",
            theme : 'modern',
            //keep_styles: true,
            height : 300,
            plugins: "hr link table save print anchor searchreplace fullscreen charmap visualblocks image media nonbreaking autolink advlist contextmenu",
            toolbar1: "save | undo redo | removeformat | styleselect | fullscreen print | cut copy paste | searchreplace | hr anchor link table charmap visualblocks nonbreaking",
            toolbar2: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | bullist numlist | outdent indent blockquote | subscript superscript",
            contextmenu: "bold italic underline strikethrough | link image inserttable | cell row column deletetable",
            tools: "inserttable",
            nonbreaking_force_tab: true,
            save_enablewhendirty: true,
            save_onsavecallback: function() {
                tinymce.triggerSave();
                $.ajax(updateMessagePath + '?id=' + encodeURIComponent($('#'+this.id).data('id')), {
                    type: 'POST',
                    headers: {'X-HTTP-METHOD-OVERRIDE': 'PUT'},
                    data: {'_method': 'PUT', 'message': $('#'+this.id).html()},
                    error: function() {
                        $(self).parent().prepend('<div class="alert-message error">Translation could not be saved</div>');
                    },
                    success: function() {
                        $(self).parent().prepend('<div class="alert-message success">Translation was saved.</div>');
                    },
                    complete: function() {
                        //window.location.reload()
                    }
                });
            },
            style_formats : [
                {title: 'Titre 1', block: 'h2'},
                {title: 'Titre 2', block: 'h3'},
                {title: 'Titre 3', block: 'h4'},
                {title: 'Important', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Paragraphe important', block: 'p', classes: 'article'},
                {title: 'Paragraphe normal', block: 'p'},
            ]
		});
    </script>
{% endblock %}

{% block body %}
<article class="editable {{ classes|default('') }}" style="margin-top:50px;" data-id="{{ article.key }}">
	{{ article.key|trans({}, 'articles')|raw }}
</article>
{% endblock %}